.Home{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

.Tittle{
    background-image: url(../../assets/images/Home.png);
    height: 83vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 8vw;
    font-family: Taruno Wide;
    overflow:scroll;
}
.style{
    margin-right: 25%;
    align-self: flex-end;
    background-color: #0054c5;
    width: 4%;
    height: 9%;
}
.sft{
    margin-left: 10%;
}
.en{
    align-self: center;
}
.Next{
    border: 1vw solid;
    border-radius: 50%;
    padding: 5px;
    width: 6vw;
    height: 6vw;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 10%;
    font-size: 6vw;
    font-weight: bolder;
    /* color: #0054c5; */
    color: black;
}

.Footer{
    height: 17vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow:scroll;
}
#p1{
    font-size: 3vw;
    font-family: Taruno Wide;
    margin-left: 7%;
    align-self: center;
}
#p2{
    font-size: 3vw;
    margin-right: 7%;
    align-self: center;
    font-family: 'BRUSH TANGSE';
}
