<div class="Home">
    <div class="Tittle">
        <div class="style"></div>
        <div class="sft">
            ✧ Software
        </div>
        <div class="en">
            Engineer
        </div>
        <!-- <div class="Next"> -->
            <button class="Next">
                Next >
            </button>
        <!-- </div> -->
    </div>
    <div class="Footer">
        <div id="p1">
            PORTFOLIO
        </div>
        <div id="p2">
            BY AMINE ✧
        </div>
    </div>
</div>
