.Home{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

.Tittle{
    background-image: url(../../assets/images/Home.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 8vw;
    font-family: Taruno Wide;


}
.style{
    margin-right: 25%;
    align-self: flex-end;
    background-color: #0054c5;
    width: 4%;
    height: 9%;
}
.sft{
    margin-left: 10%;
}
.en{
    align-self: center;
}
.Next{
    /* align-self: flex-end;
    margin-right: 7%;
    background-color: #0054c5;
    border: 5px solid #0054c5;
    border-radius: 100%;
    font-size: 2vw;
    color: aliceblue;
    height: 10%;
    width: 10%;
    font-family: Taruno Wide; */
    cursor: pointer;
    align-self: flex-end;
    margin-top: 30px;
    margin-right: 7%;
    width: 6vw;
    height: 6vw;
    border: solid 0.5vw #0054c5;
    border-radius: 100%;
    z-index: 1;
    background-color: transparent;
    font-size: 3vw;
    color: #0054c5;
    /* transition: all .2s linear; */
}

.Footer{
    height: 20vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow:scroll;
}
#p1{
    font-size: 3vw;
    font-family: Taruno Wide;
    /* margin-top: 4%;*/
    margin-left: 7%;
    align-self: center;
}
#p2{
    font-size: 3vw;
    /* margin-top: 4%; */
    margin-right: 7%;
    align-self: center;
    font-family: 'BRUSH TANGSE';
    /* overflow: hidden; */

}
