<style>
    /* @import url('https://fonts.cdnfonts.com/css/hello-bonia-serif'); */
    @import url('https://fonts.cdnfonts.com/css/taruno-wide');
    @import url('https://fonts.cdnfonts.com/css/brush-tangse');
</style>
<div class="Home">
    <div class="Tittle">
        <div class="style"></div>
        <div class="sft">
            ✧ Software
        </div>
        <div class="en">
            Engineer
        </div>
        <!-- <div class="Next"> -->
            <button class="Next">
                >
            </button>
        <!-- </div> -->
    </div>
    <div class="Footer">
        <div id="p1">
            PORTFOLIO
        </div>
        <div id="p2">
            BY AMINE 
            <BR>
                OUELDMAMA ✧
        </div>
    </div>
</div>
