body{
    background-image: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-7680x4320-8324.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;   */
    min-height: 100VH;
    margin: auto;
    color: white;
}
nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    font: bold 30px Monospace, monaco;
    /* margin: auto; */
    padding: 5px;
    background-color: rgba(70, 69, 69, 0.4);
}

nav > p{
    margin: 10px;
}

