<style>
@import url('https://fonts.cdnfonts.com/css/namdhinggo');
</style>
<div class="main">
    <div class="Tittle">
        <div class="box"></div>
        <div class="about">
            ABOUT ME
        </div>
    </div>
    <div class="para">
        I am a passionate and self-motivated developer with a strong background in self-directed learning . 
        <br><br>
        My journey into software development began as a self- taught individual, and I have since honed my skills through rigorous hands-on experience and online resources.
        <br><br>
        I am particularly drawn to the innovative and collaborative environment fostered by the 42 Network, which has further enriched my coding expertise and problem-solving abilities.
    </div>
    <div class="pagination">
        <div class="Pre" routerLink="/">
            <
        </div>
        <div class="Next" routerLink="/ShowCase">
            >
        </div>
    </div>
</div>
<app-footer></app-footer>

